/* area de codigo de progressbar| copiar apartir de aquí */

.demo-preview {
    padding-top: 0px; /*relleno entre la cabecera */
    padding-bottom: 10px; /* relleno del boton */
    margin: auto; /* margen */
    width:100%; /* esto indica que el largo de la barra ocupara el 50% de la pagina */
    text-align: center; /* alineacion del texto*/
    }
    
    .progress {
      background-color: #f5f5f5; /* color de fondo */
      border-start-end-radius: 5px; /* borde redondeado */
      box-shadow: none; /* sombra de caja */
  }
  /* no tocar, no editar */
    .progress .progress-xs {
      height: 5px;
      margin-top: 5px;
    }
    .progress .progress-sm {
      height: 10px;
      margin-top: 5px;
    }
    .progress .progress-lg {
      height: 25px;
    }
    .progress .vertical {
      position: relative;
      width: 20px;
      height: 200px;
      display: inline-block;
      margin-right: 10px;
    }
    .progress .vertical  .progress-bar {
      width: 100% !important;
      position: absolute;
      bottom: 0;
    }
    .progress .vertical .progress-xs {
      width: 5px;
      margin-top: 5px;
    }
    .progress .vertical .progress-sm {
      width: 10px;
      margin-top: 5px;
    }
    .progress .vertical .progress-lg {
      width: 30px;
    }/* fin de area no editable */
    
    .progress-bar {
      background-color: #F2D7D5; /* color rosa de primera barra */
      box-shadow: none;
      border-radius: 5px;
    }
  /* no editar */
    .progress-bar .text-left {
      text-align: left;
    }
    .progress-bar .text-left span {
      margin-left: 10px;
    }
    .progress-bar .text-right {
      text-align: right;
    }
    .progress-bar .text-right span {
      margin-right: 10px;
    }
    
    @-webkit-keyframes progress-bar-stripes {
      from {
        background-position: 40px 0;
      }
      to {
        background-position: 0 0;
      }
    }
    @keyframes progress-bar-stripes {
      from {
        background-position: 40px 0;
      }
      to {
        background-position: 0 0;
      }
    }
    .progress.active .progress-bar,
    .progress-bar.active {
      -webkit-animation: progress-bar-stripes 2s linear infinite;
      -o-animation: progress-bar-stripes 2s linear infinite;
      animation: progress-bar-stripes 2s linear infinite;
    }
    
    .progress-striped .progress-bar,
    .progress-bar-striped {
      background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
      background-size: 40px 40px;
    } /* fin de area no editable */
    
    .progress-bar-secondary {
      background-color: #323a45; /* color negro de barra*/
      color: white; /* color de texto dentro de la barra*/
    }
    
    .progress-bar-default { 
      background-color: #b0bec5;/* color gris de barra*/
    }
    
    .progress-bar-success {
      background-color: #A3E4D7; /* color verde de barra*/
    }
    
    .progress-bar-info {
      background-color: #29b6f6; /* color azúl de barra*/
    }
    
    .progress-bar-warning {
      background-color: #F9E79F ;/* color amarillo de barra */
    }
    
    .progress-bar-danger {
      background-color: #D98880 ; /*color rosa de barra */
    }